<h1 class="text-2xl text-rose-800 my-6 text-center"> Add category </h1>

<div class="flex flex-row justify-center items-center">
<form method="post" action="/admin/add_category" class="flex flex-col">
  <input type="text" name="name" />
  <button class="bg-blue-500 py-2 px-4 text-white">Add</button>
</form>

</div>
