  <form action="/edit_item" method="post" class="flex flex-col justify-center items-center h-screen">
    <label for="token">Enter Item Identification number</label>
    <input type="text" id="token" name="token" placeholder="Item Identification Number" />

<button type="submit" class="bg-green-600 text-white text-xl hover:bg-green-400 mt-4 transition-colors p-4">Search</button>
  </form>

